body,* {
  margin: 0;
  padding: 0;
  text-align: center;
}
.carousel {
  display: inline-block;
}
.carousel-images {
  position: relative;
  border: 1px solid lightgray;
  overflow: hidden;
}
.carousel.width-85,.carousel.width-85 > .carousel-images {
  width: 85vw;
  height: calc(85vw * (9/16));
  max-height: 75vh !important;
}
.carousel-display {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes enterRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes exitRight {
  0% {
    display: block;
    left: 0;
  }
  100% {
    display: block;
    left: -100%;
  }
}
@keyframes enterLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes exitLeft {
  0% {
    display: block;
    left: 0;
  }
  100% {
    display: block;
    left: 100%;
  }
}
.carousel-display.enterRight {
  display: block;
  animation-name: enterRight;
  animation-duration: 1s;
}
.carousel-display.exitRight {
  left: -100%;
  animation-name: exitRight;
  animation-duration: 1s;
}
.carousel-display.enterLeft {
  display: block;
  animation-name: enterLeft;
  animation-duration: 1s;
}
.carousel-display.exitLeft {
  left: 100%;
  animation-name: exitLeft;
  animation-duration: 1s;
}
.carousel-prev {
  left: 0.3em;
}
.carousel-next {
  right: 0.3em;
}
.carousel-prev,.carousel-next {
  position: absolute;
  cursor: pointer;
  font-size: 200%;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: center;
  background-color: white;
  border: 5px solid gray;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  z-index: 1;
}
.carousel-prev:hover,.carousel-next:hover {
  background-color: #cfcfcf;
}
.carousel-prev:active,.carousel-next:active {
  background-color: #9f9f9f;
}
.carousel-prev:focus,.carousel-next:focus {
  outline: none;
}
.caption {
  margin: 0;
  text-align: center;
}
.carousel-dot {
  cursor: pointer;
  font-size: 1.75em;
  color: #888888;
}
.carousel-dot.active {
  color: black;
}
