@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');
body {
  margin: 0;
  margin-top: 6.5em;
  padding: 0;
  background-color: var(--bg-color);
  color: #363636;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 125%;
}
* {
  margin: 0;
}
.carousel {
  display: inline-block;
}
.carousel-images {
  position: relative;
  border: 10px ridge var(--border-color);
  overflow: hidden;
}
.carousel.width-85,.carousel.width-85 > .carousel-images {
  width: 85vw;
  height: calc(85vw * (9/16));
  max-height: calc(75vh - 5em) !important;
}
.carousel.width-45,.carousel.width-45 > .carousel-images {
  width: 45vw;
  height: calc(45vw * (9/16));
  max-height: calc(75vh - 5em) !important;
}
.carousel-display {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes enterRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes exitRight {
  0% {
    display: block;
    left: 0;
  }
  100% {
    display: block;
    left: -100%;
  }
}
@keyframes enterLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes exitLeft {
  0% {
    display: block;
    left: 0;
  }
  100% {
    display: block;
    left: 100%;
  }
}
.carousel-display.enterRight {
  display: block;
  animation-name: enterRight;
  animation-duration: 1s;
}
.carousel-display.exitRight {
  left: -100%;
  animation-name: exitRight;
  animation-duration: 1s;
}
.carousel-display.enterLeft {
  display: block;
  animation-name: enterLeft;
  animation-duration: 1s;
}
.carousel-display.exitLeft {
  left: 100%;
  animation-name: exitLeft;
  animation-duration: 1s;
}
.carousel-prev {
  left: 0.3em;
}
.carousel-next {
  right: 0.3em;
}
.carousel-prev,.carousel-next {
  position: absolute;
  cursor: pointer;
  font-size: 200%;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: center;
  background-color: var(--bg-color);
  border: 5px inset var(--border-color);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  z-index: 1;
}
.carousel-prev:hover,.carousel-next:hover {
  background-color: var(--hover-color);
}
.carousel-prev:active,.carousel-next:active {
  background-color: var(--click-color);
}
.carousel-prev:focus,.carousel-next:focus {
  outline: none;
}
.caption {
  margin: 0;
  margin-top: 0.5em;
  text-align: center;
}
.carousel-dot {
  cursor: pointer;
  font-size: 1.75em;
  color: #888888;
}
.carousel-dot.active {
  color: var(--border-color);
}
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 4em;
  padding-bottom: 0.5em;
  border-bottom: 0.5em ridge var(--border-color);
  background: repeating-linear-gradient(
    45deg,
    var(--header-color),
    var(--header-color) calc(100% - 8em),
    var(--flag-green-color) calc(100% - 8em),
    var(--flag-green-color) calc(100% - 4em),
    var(--flag-red-color) calc(100% - 4em),
    var(--flag-red-color) calc(100% - 0em)
  );
  z-index: 10;
}
.header-main {
  width: 100vw;
}
.main-table {
  width: 100vw;
}
.main-table td {
  width: 50vw;
  padding-left: 15px;
}
.left-align {
  text-align: left;
  vertical-align: top;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 6em;
  text-align: left;
  border: 1px solid black;
}
.dropdown-content a {
  display: block;
  background-color: #eee;
  color: black;
  padding: 5px;
}
.links a {
  color: black;
}
.links > * {
  margin-left: 2em;
  margin-right: 2em;
}
.dropdown-content a:hover {
  background-color: lightgray;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.title-padded {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
