<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LKMA</title>
  <link rel="stylesheet" type="text/css" href="scheme.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="script.js"></script>
</head>
<body>
  <div class="header">
    <h3 class="title-padded">Lithuanian Catholic Academy of Sciences</h3>
    <div class="links">
      <a href="javascript: redirect('sage')">Home</a>
      <div class="dropdown">
        <a href="javascript: redirect('sage')">LCAS ▾</a>
        <div class="dropdown-content">
          <a href="javascript: redirect('sage')">History</a>
          <a href="javascript: redirect('sage')">Officers</a>
          <a href="javascript: redirect('sage')">Members</a>
          <a href="javascript: redirect('sage')">News</a>
          <a href="javascript: redirect('sage')">Scholarships</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="javascript: redirect('sage')">ALKA ▾</a>
        <div class="dropdown-content">
          <a href="javascript: redirect('sage')">About</a>
          <a href="javascript: redirect('sage')">Archives</a>
          <a href="javascript: redirect('sage')">Museum</a>
          <a href="javascript: redirect('sage')">Library</a>
          <a href="javascript: redirect('sage')">Contact&nbsp;Info</a>
        </div>
      </div>
    </div>
  </div>
  <table class="main-table"><tr>
    <td class="left-align">
      <b>The goal of the Lithuanian Catholic Academy of Sciences (LCAS):</b><br /><br />
      To create a community of Lithuanian scholars of Catholic outlook with diverse academic backgrounds:<br />
      - by keeping Christian thought in the foreground<br />
      - by advancing the achievements and projects of its members<br />
      - by helping members network and share ideas<br /><br />
      If you'd like to support ALKA, please write a check to "ALKA" and send to:<br />
      ALKA, 37 Mary Crest Drive, P.O. Box 608, Putnam, CT 06260
    </td>
    <td>
      <div
        class="carousel width-45"
        data-images="pup1.jpg pup2.jpg pup3.jpg pup4.jpg"
        data-captions="Pirmas Šuo/Antras Šuo/Trečias Šuo/Ketvirtas Šuo"
      ></div>
    </td>
  </tr></table>
</body>
</html>
