<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LKMA</title>
  <link rel="stylesheet" type="text/css" href="scheme.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="script.js"></script>
</head>
<body>
  <div class="header">
    <h2 class="title-padded">{LKMA}</h2>
    <div class="links">
      <a href="javascript: redirect('index')">{HOME}</a>
      <div class="dropdown">
        <a href="javascript: redirect('lcas-history')">{LKMA_ACRONYM} ▾</a>
        <div class="dropdown-content">
          <a href="javascript: redirect('lcas-history')">{HISTORY}</a>
          <a href="javascript: redirect('lcas-officers')">{OFFICERS}</a>
          <a href="javascript: redirect('lcas-members')">{MEMBERS}</a>
          <a href="javascript: redirect('sage')">{NEWS}</a>
          <a href="javascript: redirect('lcas-scholarships')">{SCHOLARSHIPS}</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="javascript: redirect('sage')">ALKA ▾</a>
        <div class="dropdown-content">
          <a href="javascript: redirect('sage')">{ABOUT}</a>
          <a href="javascript: redirect('sage')">{ARCHIVES}</a>
          <a href="javascript: redirect('sage')">{MUSEUM}</a>
          <a href="javascript: redirect('sage')">{LIBRARY}</a>
          <a href="javascript: redirect('sage')">{CONTACT}</a>
        </div>
      </div>
      <a href="javascript: swapLanguage()">{OTHER_LANGUAGE}</a>
    </div>
  </div>
  <table class="main-table"><tr>
    <td class="left-align">
      <table class="bordered-table">
        <tr>
          <td>Name</td>
          <td>Field of Study</td>
          <td>Degree</td>
        </tr>
        <tr>
          <td>Aleksa, Vainis</td>
          <td>{LITERATURE}</td>
          <td>U. of Illinois Chicago, 1995</td>
        </tr>
        <tr>
          <td>Bakšytė-Richardson, Milda</td>
          <td>{ART_HISTORY}</td>
          <td>Ph.D. Boston U., 2003</td>
        </tr>
        <tr>
          <td>Baltch-Gravrogkas, Aldona</td>
          <td>{MEDICINE}</td>
          <td>M.D.</td>
        </tr>
        <tr>
          <td>Bareikaitė, Margarita</td>
          <td>{SOCIOLOGY}</td>
          <td>BA Annhurst College</td>
        </tr>
        <tr>
          <td>Barūnaitė-Willeke, Audronė</td>
          <td>{GERMAN_LITERATURE}</td>
          <td>Ph.D. Stanford U., 1972</td>
        </tr>
        <tr>
          <td>Buožys, Valdas</td>
          <td>{HISTORY}</td>
          <td>{MASTERS} Vilnius U., 1991</td>
        </tr>
        <tr>
          <td>Bubnys, Edvardas</td>
          <td>{FINANCE}</td>
          <td>Ph.D. Illinois Institute of Technology, 1973</td>
        </tr>
        <tr>
          <td>Budrytė, Dovilė</td>
          <td>{POLITICAL_SCIENCE}</td>
          <td>Ph.D. Old Dominion U., 2000</td>
        </tr>
        <tr>
          <td>Buožys, Valdas</td>
          <td>{HISTORY}</td>
          <td>{MASTERS} U. of Vilnius, 1991</td>
        </tr>
        <tr>
          <td>Černius, Rimas</td>
          <td>{LAW}</td>
          <td>J.D. U. of Chicago, 1976</td>
        </tr>
        <tr>
          <td>Čižiūnas, Kęstutis a.a. 2002</td>
          <td>{HISTORY}</td>
          <td>MA</td>
        </tr>
        <tr>
          <td>Čyvas, Matas a.a. 2016</td>
          <td>{LAW}</td>
          <td>J.D.</td>
        </tr>
        <tr>
          <td>Contons (Kontautas) prel. A.</td>
          <td>{FINANCE}</td>
          <td>M.S. Boston College</td>
        </tr>
        <tr>
          <td>Dabrilaitė-Lingertaitienė, Aldona</td>
          <td>{THEOLOGY}</td>
          <td>Ph.D. Boston College, 2007</td>
        </tr>
        <tr>
          <td>Daugirdas, Jonas</td>
          <td>{MEDICINE}</td>
          <td>M.D. Northwestern U., 1973</td>
        </tr>
        <tr>
          <td>De Sa Pereira, Moacir</td>
          <td>JAV {LITERATURE}</td>
          <td>Ph.D. U. of Chicago, 2014</td>
        </tr>
        <tr>
          <td>Gedmintas, Aleksas</td>
          <td>{ANTHROPOLOGY}</td>
          <td>Ph.D. SUNY Binghamton</td>
        </tr>
        <tr>
          <td>Girnius, Antanas</td>
          <td>{ENGINEERING}</td>
          <td></td>
        </tr>
        <tr>
          <td>Girnius, Ramūnas</td>
          <td>{PHYSICS}</td>
          <td>Ph.D. U. of Pittsburgh, 1973</td>
        </tr>
        <tr>
          <td>Girnius, Tomas</td>
          <td>{MATH}</td>
          <td>Ph.D. CalTech, 1986</td>
        </tr>
        <tr>
          <td>Girniūtė, Nomeda</td>
          <td>{BIOLOGY}</td>
          <td>Ph.D UMass Medical, 2018</td>
        </tr>
        <tr>
          <td>Girniūtė, Žara</td>
          <td>{MATH}</td>
          <td>Ph.D. University of California at Los Angeles, 1995</td>
        </tr>
        <tr>
          <td>Ivaškienė, Gintarė</td>
          <td>{SOCIOLOGY}</td>
          <td>{MASTERS} LCSW</td>
        </tr>
        <tr>
          <td>Kazlas, Petras</td>
          <td>{ELECTRICAL_ENGINEERING}</td>
          <td>Ph.D. Colorado University, 1998</td>
        </tr>
        <tr>
          <td>Kazlauskas, Andrius</td>
          <td>{ORGANIC_CHEMISTRY}</td>
          <td>Ph.D. Cleveland State U., 1983</td>
        </tr>
        <tr>
          <td>Kliorytė-Daugirdienė, Ona</td>
          <td>{MEDICINE}</td>
          <td>M.D.</td>
        </tr>
        <tr>
          <td>Kriaučiūnas, Romualdas</td>
          <td>{PSYCHOLOGY}</td>
          <td>Ph.D. Washington U., St. Louis</td>
        </tr>
        <tr>
          <td>Kuprys, Saulius</td>
          <td>{LAW}</td>
          <td>J.D. Illinois Institute of Technology Chicago-Kent College of Law, 1979</td>
        </tr>
        <tr>
          <td>Landytė-Ciannelli, Mėta</td>
          <td>{BIOLOGY}</td>
          <td>Ph.D. U. of Washington, 2003</td>
        </tr>
        <tr>
          <td>Mačiuika, Benediktas</td>
          <td>{HISTORY}</td>
          <td>Ph.D. U. of Chicago,  1963</td>
        </tr>
        <tr>
          <td>Mantautas, Vaidevutis</td>
          <td>{PHILOSOPHY}</td>
          <td>Ph.D. Fordham, 1968</td>
        </tr>
        <tr>
          <td>Matukaitė-Taunienė, Regina</td>
          <td>{SOCIOLOGY}</td>
          <td>MS U. of Ottawa, 1958</td>
        </tr>
        <tr>
          <td>Mikailaitė, Ona</td>
          <td>{LITERATURE}</td>
          <td>MA Providence College, 1976</td>
        </tr>
        <tr>
          <td>Norvila, Algis</td>
          <td>{PSYCHOLOGY}</td>
          <td>Ph.D. St. Louis U., 1970</td>
        </tr>
        <tr>
          <td>Olšauskaitė-Kuprienė, Roma</td>
          <td>{PHARMOCOLOGY}</td>
          <td>Ph.D. 1980</td>
        </tr>
        <tr>
          <td>Pakalniškytė-Girniuvienė, Mirga</td>
          <td>{PHILOSOPHY}</td>
          <td>Ph.D. U. of Pittsburgh, 1976</td>
        </tr>
        <tr>
          <td>Palubinskaitė, Milda</td>
          <td>{LITERATURE}</td>
          <td>Ph.D. Columbia U., 1996</td>
        </tr>
        <tr>
          <td>Pikūnas, Justinas</td>
          <td>{PSYCHOLOGY}</td>
          <td>Ph.D. U. of Munich, 1949</td>
        </tr>
        <tr>
          <td>Račkauskas, Jonas a.a. 2018</td>
          <td>{PEDAGOGY}</td>
          <td>Ph.D. 1977</td>
        </tr>
        <tr>
          <td>Rizauckas, Paul</td>
          <td>{COMPUTER_SCIENCE}</td>
          <td>M.S. Rensselaer Polytechnic Institute, 1983</td>
        </tr>
        <tr>
          <td>Šidlauskas, Agata</td>
          <td>{PSYCHOLOGY}</td>
          <td>Ph.D. Catholic University of the Sacred Heart, Milan, 1943</td>
        </tr>
        <tr>
          <td>Skrupskelytė, Viktorija</td>
          <td>{LITERATURE}</td>
          <td>Ph.D. U. of Illinois Urbana, 1966</td>
        </tr>
        <tr>
          <td>Stundžia, Jonas</td>
          <td>{ARCHIVING}</td>
          <td>{MASTERS}</td>
        </tr>
        <tr>
          <td>Subačius, Giedrius</td>
          <td>{LINGUISTICS}</td>
          <td>Habilituotas daktaras Vilnius U., 1983</td>
        </tr>
        <tr>
          <td>Sužiedėlis, Vytautas</td>
          <td>{ENGINEERING}</td>
        </tr>
        <tr>
          <td>Traitor, Onutė</td>
          <td>{HISTORY}</td>
          <td>Doktorantė SUNY Oneonta</td>
        </tr>
        <tr>
          <td>Vitas, Robertas</td>
          <td>{POLITICAL_SCIENCE}</td>
          <td>Ph.D. Loyola U., 1989</td>
        </tr>
      </table>
    </td>
  </tr></table>
</body>
</html>
