<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LKMA</title>
  <link rel="stylesheet" type="text/css" href="scheme.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="script.js"></script>
</head>
<body>
  <div class="header">
    <h2 class="title-padded">{LKMA}</h2>
    <div class="links">
      <a href="javascript: redirect('index')">{HOME}</a>
      <div class="dropdown">
        <a href="javascript: redirect('lcas-history')">{LKMA_ACRONYM} ▾</a>
        <div class="dropdown-content">
          <a href="javascript: redirect('lcas-history')">{HISTORY}</a>
          <a href="javascript: redirect('lcas-officers')">{OFFICERS}</a>
          <a href="javascript: redirect('sage')">{MEMBERS}</a>
          <a href="javascript: redirect('sage')">{NEWS}</a>
          <a href="javascript: redirect('sage')">{SCHOLARSHIPS}</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="javascript: redirect('sage')">ALKA ▾</a>
        <div class="dropdown-content">
          <a href="javascript: redirect('sage')">{ABOUT}</a>
          <a href="javascript: redirect('sage')">{ARCHIVES}</a>
          <a href="javascript: redirect('sage')">{MUSEUM}</a>
          <a href="javascript: redirect('sage')">{LIBRARY}</a>
          <a href="javascript: redirect('sage')">{CONTACT}</a>
        </div>
      </div>
      <a href="javascript: swapLanguage()">{OTHER_LANGUAGE}</a>
    </div>
  </div>
  <table class="main-table"><tr>
    <td class="left-align">
      {CONTENT}
    </td>
    <td>
      <div
        class="carousel width-45"
        data-images="{CAROUSEL_IMAGES}"
        data-captions="{CAROUSEL_CAPTIONS}"
      ></div>
    </td>
  </tr></table>
</body>
</html>
